/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about, .services, .skills, .teams, .contact, footer {
  font-family: 'Source Sans Pro', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: white;
  padding: 0 5px;
  background: #2E9DBB;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background: #0F2E37;
}

.navbar .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo img {
  height: 54px;
  width: auto;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #2E9DBB;
}

.navbar.sticky .menu li a:hover {
  color: #2E9DBB;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #0F2E37;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

/* home section styling */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../images/banner.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: source sans pro, sans-serif;
}

.home .max-width {
  margin: auto 0 auto 30px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: #2E9DBB;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: #2E9DBB;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #2E9DBB;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: #2E9DBB;
  background: none;
}

/* about section styling */
.about {
  background: #2E9DBB;
  color: white;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: #2E9DBB;
}

.about .about-content .right p {
  text-align: justify center;
  font-size: 18px;
}

/* projects section styling */
.services {
  background: #0F2E37;
  color: white;
}

.projects-title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 40px;
  text-transform: uppercase;
}

.services-content {
  padding-bottom: 100px;
  padding-top: 0px;
  font-size: 23px;
  text-align: center;
}

.services p {
  margin-top: 20px;
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}

.services .serv-content .card {
  width: calc(33% - 20px);
  background-color: white;
  color: #646464;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0px 3em 0;
  margin-top: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services .serv-content .card:hover {
  background: #2E9DBB;
}

.services .serv-content .card .box {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.services .serv-content .card:hover i {
  color: #fff;
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 400;
}

.card-btn {
  cursor: pointer;
  display: inline-block;
  background: #fff;
  color: #2E9DBB;
  font-size: 25px;
  padding: 6px 27px;
  margin-top: 90px;
  font-weight: 400;
  border-radius: 6px;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-btn:hover {
  color: #fff;
  background: #2E9DBB;
  border: 1px solid #fff;
}

div#view {
  margin: 0 auto;
}

.view-container {
  margin-top: 3em;
  text-align: center;
}

.view {
  margin-top: 3em;
  cursor: pointer;
  display: inline-block;
  background: #2E9DBB;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #2E9DBB;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.view:hover {
  color: #2E9DBB;
  background: none;
}

/* services section styling */
.contactinfo {
  background: white;
  color: black;
  position: relative;
  top: 40px;
  width: 350px;
  height: calc(100%-80px);
}

.skills {
  background: #2E9DBB;
  color: white;
}

.skills-content {
  background-color: #fff;
  color: #646464;
  border-radius: .5em;
  padding-top: 2em;
  padding-left: 3em;
  padding-right: 1.5em;
  padding-bottom: 2em;
}

.skills-content img {
  padding-top: 2em;
}

.icon1 {
  text-align: center;
}

.icon2 {
  text-align: center;
}

.icon3 {
  text-align: center;
}

.icon4 {
  text-align: center;
}

h5 {
  font-size: 25px;
  color: #2E9DBB;
  text-align: center;
  text-transform: uppercase;
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.skills .skills-content .left p {
  text-align: center;
}

.skills .skills-content .right p {
  text-align: center;
}

.tex {
  padding-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;
}

/* contact section styling */
.contact {
  background: #0F2E37;
}

.contact .text, .contact .name {
  color: white;
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
  color: white;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: #2E9DBB;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #646464;
}

textarea {
  width: 100%;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.fields {
  background: #0F2E37;
}

.is-center {
  text-align: center;
}

label, .head, h2 {
  color: white;
}

.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #1cb841;
  /* this is a green */
}

.button-xlarge {
  font-size: 125%;
}

#name, #email {
  width: 50%;
}

.honeypot-field {
  display: none;
}

/* footer section styling */
footer {
  background: #2E9DBB;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}

footer span a {
  color: #0F2E37;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}

.copyright-text {
  padding-bottom: 10px;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #e4717a;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

/* responsive media query start */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
/*# sourceMappingURL=style.css.map */